body{background-color:red;}
h1 {color:yellow} 
#content {
    color:yellow;
    width: 800px;
    margin: 0 auto;
}    
#content2 {
    color:yellow;
    width:800px;
    margin: 0 auto;
}

    
#content3 {
    color:yellow;
    width:800px;
    margin: 0 auto;
}

#basketballpic{
    height: 300px;
    width: 300px;
}
